footer {
  display: flex;
  padding-block: 24px;
  gap: 24px;

  font-size: 14px;
  line-height: 150%;
  color: var(--text-color-secundary);
}
footer span:nth-child(1) {
  margin-right: auto;
}

