footer {
  display: flex;
  padding-block: 24px;
  gap: 24px;

  font-size: 14px;
  line-height: 150%;
  color: var(--text-color-secundary);
}
footer span:nth-child(1) {
  margin-right: auto;
  grid-area: a;
}
footer span:nth-child(2){
  grid-area: b;
}
footer span:nth-child(3){
  grid-area: c;
}

@media (width <= 31.25em) {
  & footer {
    padding-block: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    " a a "
    " b c";   
    justify-content: center;
    align-content: center;

    & span:nth-child(1) {
      margin-left: auto;
    }
  }
}

